  <div class="container-fluid">
    <table class="table table-bordered" id="tb" style="color: white;">
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of Games</th>
          <th>Average Score</th>
          <th>Popularity</th>
          <th>Related Genre</th>
        </tr>
        <tr>
      </thead>

<!--       <tbody>
        {% for genre in genres %}
        <tr>
          <th scope="row">{{genre.name}}</th>
          <th>{{genre.num_games}}</th>
          <th>{{genre.avg_rating}}</th>
          <th>{{genre.popularity}}</th>
        </tr>
        {% endfor %}
      </tbody> -->

      <tr>
        <th> <a href = "genreRPG"> Role-playing Game </a></th>
        <th> 253614 </th>
        <th> 73 </th>
        <th> 23%</th>
        <th> Action RPG </th>
      </tr>
      <tr>
        <th> <a href = "genreFPS"> First person Shooter </a></th>
        <th>  456456 </th>
        <th>  62 </th>
        <th> 40% </th>
        <th> Multiplayer Arena </th>
       </tr>
       <tr>
        <th> <a href = "genreTBS"> Turn-Based Strategy </a></th>
        <th>  96325 </th>
        <th> 67 </th>
        <th> 16% </th>
        <th> Real time Strategy </th>
        </tr>  
      
    </table>
  </div>
  <div id="search" style="height: 10%; width: 50%; margin: 0 auto;">
     <button type="button" class="close" style="z-index: 9999;">x</button>
     <form>
       <input id="searchstring" type="search" value="" placeholder="Type your keywords here!" />
       <button type="submit" class="btn btn-primary">Search</button>
     </form>
  </div>