<!DOCTYPE html>
<html>
<head>
  <title>Video Game Lookup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>

  <!-- NavBar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">VideoGameLookup</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/genre">Genre</a></li>
        <li><a href="/publisher">Publisher</a></li>
        <li><a href="/games">Games</a></li>
        <li class="active"><a href="/about">About us</a></li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <h1 class = "text-center"> About the Team </h1>
    <div class= "im-centered">
      <div class = "row">
        <div class = "col-sm-1"></div>
        <div class="col-sm-2">
         <img src="jeffFajay.jpg" class="img-circle img-responsive"> 
         <h3><strong>Jeff Fajay</strong></h3>
         <h4><strong>Commit Count:</strong> 20</h4>
         <h4><strong>Unit Tests Count:</strong> 20</h4>
         <h4><strong>Responsible for:</strong> Front-end</h4>
         <p> Hey! My name is Jeff Fajay and I am computer science student at UT Austin. I worked on the frontend primarily for this project. When I  am not programming, I can be found hanging out with some friends and exploring all the great restaurants of Austin.</p>
       </div>
       <div class="col-sm-2">
         <img src="zoolander_400.jpg" class="img-circle img-responsive">
         <h3><strong>Mitchell Minkoff</strong></h3>
         <h4><strong>Commit Count:</strong> 20</h4>
         <h4><strong>Unit Tests Count:</strong> 20</h4>
         <h4><strong>Responsible for:</strong> Front-end</h4>
         <p> My name is Jeff</p>
       </div>
       <div class="col-sm-2">
         <img src="zoolander_400.jpg" class="img-circle img-responsive">
         <h3><strong>Sean Carrillo</strong></h3>
         <h4><strong>Commit Count:</strong> 20</h4>
         <h4><strong>Unit Tests Count:</strong> 20</h4>
         <h4><strong>Responsible for:</strong> Front-end</h4>
         <p> My name is Jeff</p>
       </div>
       <div class="col-sm-2">
         <img src="zoolander_400.jpg" class="img-circle img-responsive">
         <h3><strong>Alex Niznik</strong></h3>
         <h4><strong>Commit Count:</strong> 20</h4>
         <h4><strong>Unit Tests Count:</strong> 20</h4>
         <h4><strong>Responsible for:</strong> Front-end</h4>
         <p> My name is Jeff</p>
       </div>
       <div class="col-sm-2">
         <img src="zoolander_400.jpg" class="img-circle img-responsive">
         <h3><strong>Alex You</strong></h3>
         <h4><strong>Commit Count:</strong> 20</h4>
         <h4><strong>Unit Tests Count:</strong> 20</h4>
         <h4><strong>Responsible for:</strong> Front-end</h4>
         <p> Hey, my name is Alex You. I am also a CS student at UT Austin. For this project, I worked on the backend aspects of this project. In my free time, I am playing sports or hanging out with friends, playing sports.</p>
         <div class = "col-sm-1"></div>
       </div>
     </div>
   </div>
   <center>
   <div class="row">
     <a href=""><strong>Apriary API</strong></a>
 </div>
 
 <div class="row">
   <a href="https://github.com/x1mrdonut1x/cs373-idb/issues"><strong>Github Issue Tracker</strong></a>
 </div>

 <div class="row">
   <a href="https://github.com/x1mrdonut1x/cs373-idb"><strong>Github Repo</strong></a>
 </div>

 <div class="row">
   <a href="https://github.com/x1mrdonut1x/cs373-idb/wiki"><strong>Github Wiki</strong></a>
 </div>
 </center>

</div>


 <script src="http://code.jquery.com/jquery.js"></script>
 <script src="../static/js/bootstrap.min.js"></script>
 <link rel="stylesheet" type="text/css" href="../static/css/custom.css"/>
 <script src="../static/js/videoGameLookup.js"></script>

</body>
</html>
