  <!DOCTYPE html>
  <html>
  <head>
    <title>Video Game Lookup</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/bootstrap.css" rel="stylesheet" media="screen">
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" media="screen" href="../static/css/custom.css">
    <script type="text/javascript" src="../static/js/videoGameLookup.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>
  </head>
  <body style="background-color: black;">

  <nav class="navbar navbar-default navbar-inner" style="margin-bottom: 0px; z-index: 9999;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-ex"> <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Game Lookup</a>
      </div>
      <div class="navbar-collapse collapse" id="navbar-collapse-ex">
        <ul class="nav navbar-nav">
          <li><a href="/genre">Genre</a></li>
          <li><a href="/publisher">Publisher</a></li>
          <li><a href="/games">Games</a></li>
          <li><a href="/about">About us</a></li>
        </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#search">Search</a></li>
      </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <h1 class = "text-center" id="about"> About the Team </h1>
    <div class= "im-centered">
    <div class = "row">
    <div class = "col-sm-1"></div>
    <div class="col-sm-2">
     <img src="../static/images/jeffFajay.jpg" class="img-circle img-responsive"> 
     <h3><strong>Jeff Fajay</strong></h3>
     <h4><strong>Commit Count:</strong> 17</h4>
     <h4><strong>Issue Count:</strong> 3</h4>
     <h4><strong>Unit Tests Count:</strong> 1</h4>
     <h4><strong>Responsible for:</strong> Front-end</h4>
     <p> Hey! My name is Jeff Fajay and I am computer science student at UT Austin. I worked on the frontend primarily for this project. When I  am not programming, I can be found hanging out with some friends and exploring all the great restaurants of Austin.</p>
   </div>
   <div class="col-sm-2">
     <img src="../static/images/Mitchell.png" class="img-circle img-responsive">
     <h3><strong>Mitchell Minkoff</strong></h3>
     <h4><strong>Commit Count:</strong> 10</h4>
     <h4><strong>Issue Count:</strong> 3</h4>
     <h4><strong>Unit Tests Count:</strong> 2</h4>
     <h4><strong>Responsible for:</strong> Front-end</h4>
     <p> My name is Mitchell Minkoff, and I study computer science at UT Austin. I was responsible
     for the splash page and other various front-end features using JQuery. I was also responsible
     for keeping up with the Google App Engine for this project.</p>
   </div>
   <div class="col-sm-2">
     <img src="../static/images/Sean.jpg" class="img-circle img-responsive">
     <h3><strong>Sean Carrillo</strong></h3>
     <h4><strong>Commit Count:</strong> 4</h4>
     <h4><strong>Issue Count:</strong> 3</h4>
     <h4><strong>Unit Tests Count:</strong> 2</h4>
     <h4><strong>Responsible for:</strong> Back-end</h4>
     <p> Hey everyone! I study CS at UT Austin along with Business Foundations. My original idea was to make this about
     Marvel Comics, but realized it'd be faster just to ask me. My hobbies include hiking, playing video games, binge watching netflix,
     and hanging out with friends.</p>
   </div>
   <div class="col-sm-2">
     <img src="../static/images/Alex.jpg" class="img-circle img-responsive">
     <h3><strong>Alex Niznik</strong></h3>
     <h4><strong>Commit Count:</strong> 6</h4>
     <h4><strong>Issue Count:</strong> 2</h4>
     <h4><strong>Unit Tests Count:</strong> 2</h4>
     <h4><strong>Responsible for:</strong> Back-end</h4>
     <p> Hey! I'm an exchange student from Ireland studying CS at UT Austin. I'm French and Polish and when I'm not coding I spend my time kiteboarding and wakeboarding! I was responsible for the back-end during this project.</p>
   </div>
   <div class="col-sm-2">
     <img src="../static/images/alexYou.jpg" class="img-circle img-responsive">
     <h3><strong>Alex You</strong></h3>
     <h4><strong>Commit Count:</strong> 12</h4>
     <h4><strong>Issue Count:</strong> 2</h4>
     <h4><strong>Unit Tests Count:</strong> 2</h4>
     <h4><strong>Responsible for:</strong> Full-stack</h4>
     <p> Hey, my name is Alex You. I am also a CS student at UT Austin. For this project, I worked on various parts of the full stack of this project. In my free time, I am playing sports or hanging out with friends, playing sports.</p>
    <div class = "col-sm-1"></div>
   </div>
   </div>
   </div>   
 </div>

 <center>
   <div class="row">
     <h1>Project Links</h1>
   </div>

   <div class="row">
     <a href="https://app.apiary.io/cs373api">Apiary API</a>
   </div>
 
   <div class="row">
     <a href="https://github.com/x1mrdonut1x/cs373-idb/issues">Github Issue Tracker</a>
   </div>

   <div class="row">
     <a href="https://github.com/x1mrdonut1x/cs373-idb">Github Repo</a>
   </div>

   <div class="row">
     <a href="https://github.com/x1mrdonut1x/cs373-idb/wiki">Github Wiki</a>
   </div>

   <div class="row">
     <h1>Statistics</h1>
   </div>

   <div class="row">
     <a href="https://github.com/x1mrdonut1x/cs373-idb"> Total Commit Count: 108</a>
   </div>

   <div class="row">
     <a href="https://github.com/x1mrdonut1x/cs373-idb/issues"> Total Issue Count: 17</a>
   </div>

   <div class="row">
     <a href="https://github.com/x1mrdonut1x/cs373-idb/blob/query-pages/app/test.py"> Total Unit Tests: 9</a>
   </div>

   <div class="row">
     <h1>Tools</h1>
   </div>

   <div class="row">
     <a href="https://angularjs.org/"> AngularJS</a>
   </div>

   <div class="row">
     <a href="http://getbootstrap.com/"> BoostrapJS</a>
   </div>

   <div class="row">
     <a href="http://flask.pocoo.org/"> Flask</a>
   </div>

   <div class="row">
     <a href="http://www.sqlalchemy.org/"> SQLAlchemy</a>
   </div>

   <div class="row">
     <a href="https://yuml.me/"> yUML</a>
   </div>

   <div class="row">
     <h1>Data</h1>
   </div>

   <div class="row">
     <a href="https://www.giantbomb.com"> GiantBomb</a>
   </div>

   <div class="row">
     <a href="https://www.igdb.com"> IGDB</a>
   </div>

   <div class="row">
     <a href="https://www.valvesoftware.com"> Valve</a>
   </div>

   <div class="row">
     <h1>Scraping the Data</h1>
   </div>

   <div class="row">
     <p>The data was obtained through GiantBomb, IGDB, and Valve's API. With GET requests we got data formatted into JSON which we recorded and placed in an Angular factory.</p>
   </div>

 </center>
 </div>
  <div id="search" style="height: 10%; width: 50%; margin: 0 auto;">
    <button type="button" class="close" style="z-index: 9999;">x</button>
    <form>
      <input id="searchstring" type="search" value="" placeholder="Type your keywords here!" />
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>


   <script src="http://code.jquery.com/jquery.js"></script>
   <script src="../static/js/bootstrap.min.js"></script>
   <link rel="stylesheet" type="text/css" href="../static/css/custom.css"/>
   <script src="../static/js/videoGameLookup.js"></script>

  </body>
  </html>
