<!DOCTYPE html>
<html>
<head>
  <title>Video Game Lookup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">VideoGameLookup</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/about">Genre</a></li>
        <li><a href="/publisher">Publisher</a></li>
        <li class="active"><a href="/games">Games</a></li>
        <li><a href="/about">About us</a></li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <table class="table table-bordered" id="tb">
      <thead>
        <tr>
          <th>Title</th>
          <th>Publisher</th>
          <th>Theme</th>
          <th>Year Published</th>
          <th>Average Score</th>
        </tr>
        <tr>
      </thead>

 <!--      <tbody>
        {% for game in games %}
        <tr>
          <th scope="row">{{game.name}}</th>
          <th>{{game.publisher}}</th>
          <th>{{game.theme}}</th>
          <th>{{game.year}}</th>
          <th>{{game.avg_score}}</th>
        </tr>
        {% endfor %}
      </tbody> -->
      <tr>
        <th> <a href = "gameWitcher3.html"> The Witcher 3 </a></th>
        <th> 2015 </th>
        <th> RPG </th>
        <th> CD Projekt RED</th>
        <th> 97 </th>
      </tr>
      <tr>
        <th> <a href = "gameHalo5.html"> Halo 5 </a></th>
        <th> 2016 </th>
        <th> First person shooter </th>
        <th> Microsoft Studios </th>
        <th> 93 </th>
       </tr>
       <tr>
        <th> <a href = "gameCivV.html"> Civilization V </a></th>
        <th> 2004 </th>
        <th> Turn-Based Strategy </th>
        <th> 2k Games </th>
        <th> 99 </th>
        </tr>  
      
    </table>
  </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.tablesorter.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/custom.css"/>
    <script src="../static/js/videoGameLookup.js"></script>

  </body>
  </html>