<!DOCTYPE html>
<html>
<head>
  <title>Video Game Lookup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">VideoGameLookup</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/genre">Genre</a></li>
      <li><a href="/publisher">Publisher</a></li>
      <li><a href="/games">Games</a></li>
      <li><a href="/about">About us</a></li>
    </ul>
  </div>
</nav>
 <div class="container-fluid">
    <table class="table table-bordered">
      <h1 class = "text-center"> Genres </h1>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of games</th>
          <th>Average rating of games</th>
          <th>Related Genres</th>
          <th>Popularity of Genre</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Mario</th>
          <th>1</th>
          <th>Platformer</th>
          <th>1980</th>
          <th>100</th>
        </tr>
        <th scope="row">Mario</th>
        <th>1</th>
        <th>Platformer</th>
        <th>1980</th>
        <th>100</th>
      </tr>
      <tr>
        <th scope="row">Mario</th>
        <th>1</th>
        <th>Platformer</th>
        <th>1980</th>
        <th>100</th>
      </tr>
    </tbody>
  </table>


    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css"/>
    <script src="../static/js/videoGameLookup.js"></script>

  </body>
  </html>