<!DOCTYPE html>
<html>
<head>
  <title>Video Game Lookup</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="../static/css/bootstrap.css" rel="stylesheet" media="screen">

  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  
  <script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
  <script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/js/videoGameLookup.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  
  <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script> 
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"> </script>
  <script src="../static/js/angular.min.js"></script>

  <link rel="stylesheet" media="screen" href="../static/css/custom.css">

</head>
<body style="background-color: black;">



  <nav class="navbar navbar-default navbar-inner" style="margin-bottom: 0px; z-index: 9999;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-ex"> <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Game Lookup</a>
      </div>
      <div class="navbar-collapse collapse" id="navbar-collapse-ex">
        <ul class="nav navbar-nav">
          <li><a href="/characters">Character</a></li>
          <li><a href="/publishers">Publisher</a></li>
          <li><a href="/games">Games</a></li>
          <li><a href="/about">About us</a></li>
        </ul>
      <ul class="nav navbar-nav navbar-right" style="visibility:hidden;">
        <li><a href="#search">Search</a></li>
      </ul>
      </div>
    </div>
  </nav>



  <div class="container-fluid">
    <h1> AND Results </h1>
    <table class="table table-bordered" id="game_table">
      <thead>
        <tr id="tableHeader">
          <th style="background:white; font-family: 'Press Start 2P', cursive;">Name</th>
          <th style="background:white; font-family: 'Press Start 2P', cursive;">Number of Games</th>
          <th style="background:white; font-family: 'Press Start 2P', cursive;">Year Founded</th>
          <th style="background:white; font-family: 'Press Start 2P', cursive;">Country</th>
          <th style="background:white; font-family: 'Press Start 2P', cursive;">Website</th>
        </tr>
      </thead>
    <tbody>
        {% for publisher in publishers %}
        <tr>
        <td><a href="{{ publisher.ident }}">{{ publisher.name }}</a></td>
        <td>{{ publisher.num_games }}</td>
        <td>{{ publisher.year_founded }}</td>
        <td>{{ publisher.country }}</td>
        <td>{{ publisher.website }}</td>
        </tr>
        {% endfor %}
     </tbody> 
    </table>
  </div>

  <div class="container-fluid" id="second_table">
    <h1> OR Results </h1>
    <table class="table table-bordered" id="game_table_or">
      <thead>
        <tr id="tableHeader">
          <th style="background:white; font-family: 'Press Start 2P', cursive;">Name</th>
          <th style="background:white; font-family: 'Press Start 2P', cursive;">Number of Games</th>
          <th style="background:white; font-family: 'Press Start 2P', cursive;">Year Founded</th>
          <th style="background:white; font-family: 'Press Start 2P', cursive;">Country</th>
          <th style="background:white; font-family: 'Press Start 2P', cursive;">Website</th>
        </tr>
      </thead>
    <tbody>
        {% for publisher in publishers %}
        <tr>
        <td><a href="{{ publisher.ident }}">{{ publisher.name }}</a></td>
        <td>{{ publisher.num_games }}</td>
        <td>{{ publisher.year_founded }}</td>
        <td>{{ publisher.country }}</td>
        <td>{{ publisher.website }}</td>
        </tr>
        {% endfor %}
     </tbody>
    </table>
  </div>


  <div id="search" style="height: 10%; width: 50%; margin: 0 auto;">
    <button type="button" class="close" style="z-index: 9999;">x</button>
    <form>
      <input id="searchstring" type="search" value="" placeholder="Type your keywords here!" />
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>    
    <!-- Modules -->
    <script src="../static/js/app.js"></script>

    <!-- Controllers -->
    <script src="../static/js/controllers/Controllers.js"></script>

    <script>
    $(document).ready(function(){
      var dataTable = $('#game_table_or').dataTable();
      var dataTable2 = $('#game_table').dataTable();
      $('#second_table').hide();
      $('.container-fluid h1').hide();

      var input = $(".dataTables_filter input");
      input.unbind('keyup search input').bind('keyup', function (e) {
         var keywords = input.val().split(' '), filter ='';
         for (var i=0; i<keywords.length; i++) {
             filter = (filter!=='') ? filter+'|'+keywords[i] : keywords[i];
         }            
         filter2 = input.val();
         dataTable.fnFilter(filter, null, true, false, true, true);
         dataTable2.fnFilter(filter2, null, true, false, true, true);
         if (input.val().length == 0) {
           $('#second_table').hide();
           $('.container-fluid h1').hide();
         } else {
           $('#second_table').show();
           $('.container-fluid h1').show();
           $('#second_table label').hide();
         }
      });
    });
    </script>
  </body>
  </html>
