<!DOCTYPE html>
<html>
<head>
  <title>Video Game Lookup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>

  <!-- NavBar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">VideoGameLookup</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/genre">Genre</a></li>
        <li><a href="/publisher">Publisher</a></li>
        <li><a href="/games">Games</a></li>
        <li><a href="/about">About us</a></li>
      </ul>
    </div>
  </nav>

  <div class= "container-fluid">
    <div class="row">
      <div class="col-md-4">
     <img src="CDP-RED_logo_720x405.png" class="img-responsive">
      </div>

      <div class="col-md-4">
        <h1>CD Projekt Red</h1>
	<p> Created in 2002, CD Projekt RED is a unit of of the Polish localization and distribution company, CD Projekt. The studio has greatly expanded since the 2007 release of The Witcher. They are based in Warsaw, Poland. </p>
      </div>

      <div class="col-md-4">
        <h1>Games</h1>
        <a href="gameWitcher3.html">Witcher 3: Wild Hunt</a>

        <h1>Genres</h1>
        <a href="genreRPG.html">Role-Playing Game</a>

      </div>
    </div>
  </div>

 <script src="http://code.jquery.com/jquery.js"></script>
 <script src="../static/js/bootstrap.min.js"></script>
 <link rel="stylesheet" type="text/css" href="../static/css/custom.css"/>
 <script src="../static/js/videoGameLookup.js"></script>

</body>
</html>
