<!DOCTYPE html>
<html>
<head>
  <title>Video Game Lookup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="splash.html">VideoGameLookup</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="genre.html">Genre</a></li>
      <li><a href="publisher.html">Publisher</a></li>
      <li><a href="games.html">Games</a></li>
      <li><a href="about.html">About us</a></li>
    </ul>
  </div>
</nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div id="slider" class="carousel slide" data-ride="carousel">

	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
	      <img src="" alt"Hello there">
            </div>
          </div>
        </div>
    </div>
  </div>


    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css"/>
    <script src="../static/js/videoGameLookup.js"></script>

  </body>
  </html>
